includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - packages/core/src

  level: 6

  checkModelProperties: true
  checkPhpDocMissingReturn: true

  ignoreErrors:
    # Laravel magic methods
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
    - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model#'
